 <div id="wrapper">
    <!-- Sidebar -->
    {{>barra_lateral}}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <ul class="navbar-nav ml-auto">
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.nombre}}</span>
                    <a href="/users/logout" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-sign-out-alt fa-sm text-white-50"></i> Salir</a>
                    <a href="javascript:abrir()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-address-book fa-sm text-white-50"></i> Nota</a>
                </li>
            </ul>
        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Producto</h1>
          </div>

          <div class="row">
            <!-- Pie Chart -->
            {{>producto_contenedor}}
            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Lista de Productos</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                  <div class="dataTables_wrapper dt-bootstrap4" id="dataTable_wrapper">
                      <div class="row">
                          <div class="col-sm-12">
                              <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                   <thead>
                                    <tr>
                                      <th>Código</th>
                                      <th>Nombre</th>
                                      <th>Cantidad Disponible</th>
                                      <th>Precio Unidad</th>
                                      <th>Agregar</th>
                                      <th>Editar</th>
                                    </tr>
                                  </thead>
                                  <tfoot>
                                    <tr>
                                      <th>Código</th>
                                      <th>Nombre</th>
                                      <th>Cantidad Disponible</th>
                                      <th>Precio Unidad</th>
                                      <th>Agregar</th>
                                      <th>Editar</th>
                                    </tr>
                                  </tfoot>
                                  <tbody>
                                    {{#each producto}}
                                        <tr>
                                          <td>{{ codigo }}</td>
                                          <td>{{nombre_producto}}</td>
                                          <td>{{stock}}</td>
                                          <td>{{precio}}</td>
                                          <td>
                                            <a href="/tarea/agregar_producto/add/{{_id}}"  class="btn btn-success btn-block"><i class="fas fa-plus-square"></i></a>
                                          </td>
                                          <td>
                                            <a href="/tarea/agregar_producto/edit/{{_id}}" class="btn btn-primary btn-block"><i class="fas fa-edit"></i></a>
                                          </td>
                                        </tr>
                                    {{/each}}
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
            </div>
            </div>
          </div>
          </div>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      {{#if valor_producto}}
      {{>edit_producto}}
      {{/if}}
      {{#if valor_add}}
      {{>add_producto}}
      {{/if}}
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
